<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">
<header>
  <%- include('../partials/header'); %>
</header>
<main>
  <%- include('../pages/home'); %>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>